/******************* paramètres généraux de la page *******************/

html{
    scroll-behavior: smooth;
    max-width: 1400px;
    overflow-x: hidden;
}

*{
    font-family: Raleway;
    margin: 0;
}

main{
    padding: 5px 40px 0px 40px;
}

a{
    text-decoration: none;
    color: black;
}

.title{
    font-weight: 700;
    font-size: 22px;
    margin: 8px 0px;
}

.subtitle{
    font-weight: 700;
    font-size: 18px;
}

.caption{
    font-weight: 400;
    font-size: 16px;
    margin: 8px 0px;
}

.title_loc{
    font-weight: 700;
    font-size: 15px;
    color: black;
    margin-left: 15px;
    margin-top: 15px;
    line-height: 15px;
}

.title_pop{
    font-weight: 700;
    font-size: 15px;
    color: black;
    margin-left: 15px;
    line-height: 20px;
    margin-top: 20px;
}

.title_act{
    font-weight: 700;
    font-size: 16px;
    color: black;
    margin-left: 15px;
    line-height: 20px;
    margin-top: 20px;
}

.cost_img{
    font-weight: 400;
    font-size: 13px;
    color: black;
    margin-top: 4px;
    margin-left: 15px;
    line-height: 15px;
}

.note{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    min-width: 70px;
}

.bleu{
    color: #0065FC;
}

.gris{
    color: #F2F2F2;
}



/******************* header *******************/

.logo{
    float:left;
    width: 60px;
    height: 20px;
    padding-top: 24px;
    margin-left: 45px;
}

nav a{
    text-decoration: none;
    color: black;
    float : right;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-top: 30px;
    padding-right: 45px;
}

nav a:hover{
    color: #0065FC;
    font-weight: 500;
    border-top: 2px solid #0065FC;
    padding-left: 45px;
    padding-right: 45px;
}



/******************* barre de recherche *******************/

#search{
   margin-top: 100px;
}

#searchbar{
    display: flex;
    float: left;
    margin-top: 20px;
}

#map_dot{
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search input{
    border: 1.5px solid #F2F2F2;
    width: 60%;
    height: 50px;
    font-size: 16px;
    font-family: raleway;
    font-weight: 700;
    padding-left: 20px;
}

#searchbar button{
    border: none;
    width: auto;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.loop_button{
    display: none;
}

.search_button{
    display: block;
}

#search_button:hover{
    cursor: pointer;
}



/******************* filtres *******************/

#filter{
    margin-top: 100px;
    display: flex;
    align-items: baseline;
}

.margin{
    margin-right: 20px;
}

#filter button{
    border: 2px solid #F2F2F2;
    height: 50px;
    max-height: 50px;
    font-weight: 700;
    font-size: 17px;
    color: black;
    background: #fff;
    border-radius: 25px;
    margin-right: 20px;
    margin-top: 20px;
}

#filter i{
    color: #0065FC;
    padding-right: 10px;
}

#filter button:hover{
    background: #DEEBFF;
    cursor: pointer;
}

.divFilter{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#filter_div{
    display: flex;
    justify-content: center;
}
.width150{
    min-width: 120px;
}
.width200{
    min-width: 170px;
}
.width250{
    min-width: 220px;
}



/******************* info *******************/

#info{
    display: flex;
    align-items: baseline;
    margin-top: 50px;
}

#info p{
    margin-left: 10px;
}


.iconInfo {
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    height: 1.3rem;
    width: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



/******************* Hébergements a Marseille *******************/

.loc_pop{
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
    justify-content: space-around;
}

#location{
    width: 80%;
    height: 600px;
    border-radius: 20px;
    background: #F2F2F2;
    padding: 30px;
    margin-top: 25px;
}
.title_location{
    margin-left: 20px;
}

.card_loc{
    width: 100%;
    height: 200px;
    margin: 15px;
    line-height: 1px;
    background: #fff;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
}

.img_loc{
    width: 100%;
    min-height: 120px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.card_loc:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
}

#show_more{
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}

.textCardLocation{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/******************* Les plus populaires *******************/

#popular{
    width: 30%;
    height: 600px;
    border-radius: 20px;
    background: #F2F2F2;
    padding: 30px;
    margin-top: 25px;
    margin-left: 50px;
}

.titlMarginPop{
    margin-right: 10px;
}

.titreChart{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.card_pop{
    width: 100%;
    height: 135px;
    line-height: 1px;
    background: #fff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
    display: flex;
    margin-top: 30px;
    margin-left: 0px;
}

.img_pop{
    width: 30%;
    height: 135px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.txt_card{
    height: 140px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_pop:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
}



/******************* Activités à Marseille *******************/

#activity{
    margin-top: 100px;
}

#panel_activity{
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.card_act{
    width: 22%;
    height: 550px;
    border-radius:20px;
    line-height: 1px;
    background: #fff;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
}

.img_act{
    width: 100%;
    height: 490px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.card_act:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
}



/******************* footer *******************/

footer{
    width: 100%;
    height: 250px;
    background: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
}

.margin_subtitle{
    margin-bottom: 30px;
}

.txt_footer{
    line-height: 40px;
}


/************************************** media query version tablette **************************************/

@media screen and (max-width: 992px)
{
/***** paramètres généraux de la page *****/
    .note{
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .cost_img{
        font-size: 12px;
    }

    .margin_subtitle{
        margin-bottom: 15px;
    }

    .marginTitle{
        margin-left: 10px;
    }

    /***** barre de recherche *****/
    #search{
        margin-top: 100px;
     }

     #searchbar{
        margin-top: 10px;
    }


    /***** filtres *****/
    #filter{
        margin-top: 90px;
        flex-wrap: wrap;
    }
    #filter button{
        margin-right: 5px;
    }

    /***** info *****/
    #info{
        margin-top: 20px;
    }


    /***** Hébergements a Marseille *****/
    .loc_pop{
        display: flex;
        flex-wrap: wrap;
    }

    #location{
        width: 100%;
        height: 580px;
        padding: 10px;
    }

    .img_loc{
        height: 124px;
    }

    .card_loc{
        padding: 5px;
    }

    .title_location {
        margin-left: 10px;
    }

    /***** Les plus populaires *****/
    #popular{
        width: 100%;
        margin-left: 0px;
        padding: 10px;
        height: 240px;
        margin-top: 50px;
    }

    .title_pop{
        font-size: 14px;
    }

    .img_pop{
        width: 35%;
    }
    
    .card_pop{
        width: 30%;
        margin: -20px;
        margin-top: 20px;
    }

    .txt_card{
        margin-top: -20px;
        padding-bottom: 5px;
        padding-right: 10px;
    }

    #panel_card{
        display: flex;
        justify-content: space-around;
    }


    /***** Activités à Marseille *****/
    #activity{
        margin-top: 70px;
    }

    #panel_activity{
        margin-bottom: 70px;
    }
    .card_act{
        height: 280px;
        justify-content: space-between;
    }

    .img_act{
        height: 220px;
    }

    .titleActivity {
        margin-left: 20px;
    }

    /***** footer *****/
    footer {
        justify-content: space-evenly;
        height: 200px;
        margin-top: 0px;
    }

    .txt_footer{
        line-height: 30px;
    }

}

/************************************** media query version telephone **************************************/

@media screen and (max-width: 768px){
   /***** paramètres généraux de la page *****/
    main{
        padding: 5px 0px 0px 0px;
    }
    /***** header *****/
    #logo_booki{
        display: flex;
        justify-content: center;
    }
    
    .logo{
        float:none;
        width: 120px;
        height: 40px;
        padding: 0;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    nav{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    nav a{
        margin: 0;
        padding: 30px;
        width: 50%;
        justify-content: center;
        border-bottom: 3px solid #F2F2F2;
    }

    nav a:hover{
        color: #0065FC;
        font-weight: 500;
        border-top: 0px;
        border-bottom: 3px solid #0065FC;
        margin-left: 0px;
        margin-right: 0px;
    }

    /***** barre de recherche *****/
    #search{
        margin-top: 40px;
        margin-left: 10px;
    }

    .caption{
        margin-top: 15px;
    }

    #searchbar{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .loop_button{
        display: block;
    }
    
    .search_button{
        display: none;
    }

    /***** filtres *****/
    #filter{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .margin{
        margin-bottom: 10px;
    }

    #filter button{
        margin-top: 30px;
    }

    .font_phone{
        font-weight: 700;
        font-size: 11px;
    }

    .width150 {
        min-width: 160px;
    }
    .width200{
        min-width: 160px;
    }
    .width250{
        min-width: 160px;
    }

    #filter_div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    /***** info *****/
    #info{
        margin-top: 40px;
    }

    /***** hebergement et populaire *****/
    .loc_pop{
        display: flex;
        flex-direction: column-reverse;
    }

    /***** populaire *****/
    #popular{
        width: 100%;
        height: 635px;
        border-radius: 0px;
        background: #F2F2F2;
        padding: 0px;
        margin-top: 25px;
        margin-left: 0px;
    }

    #popular h2{
        margin-left: 10px;
        margin-top: 30px;
    }
    
    #chart{
        margin-right: 20px;
    }

    #panel_card{
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .card_pop{
        width: 90%;
        height: 135px;
        line-height: 1px;
        background: #fff;
        border-radius: 20px;
        padding: 5px;
        box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
        display: flex;
        margin-top: 25px;
        margin-bottom: 0px;
        margin-left: 5%;
        margin-right: 5%;
    }

    /***** hebergement *****/
    #location{
        width: 100%;
        height: auto;
        border-radius: 0px;
        background:none;
        padding: 0px;
        margin-top: 25px;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
    }

    .card_loc{
        width: 100%;
        height: 200px;
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 5%;
        margin-right: 5%;
        line-height: 1px;
        background: #fff;
        border-radius: 20px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
    }

    #show_more{
        display: none;
    }

    /***** activites *****/
    #activity{
        width: 100%;
        margin-top: 100px;
    }

    #activity h2{
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #panel_activity{
        margin-top: 20px;
        margin-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
    }

    .card_act{
        width: 100%;
        height: 250px;
        border-radius:20px;
        line-height: 1px;
        background: #fff;
        box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .img_act{
        width: 100%;
        height: 190px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    /***** footer *****/
    footer{
        height: 500px;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
    }

    .txt_footer{
        line-height: 25px;
    }
}