/******************* paramètres généraux de la page *******************/

html{
    scroll-behavior: smooth;
}

*{
    font-family: Raleway;
    margin: 0;
}

main{
    padding: 5px 50px 0px 50px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.titre{
    font-weight: 700;
    font-size: 22px;
    margin: 8px 0px;
}

.sous_titre{
    font-weight: 400;
    font-size: 16px;
    margin: 8px 0px;
}

.petit_titre{
    font-weight: 700;
    size: 18px;
}

.titre_img_heb{
    font-weight: 700;
    font-size: 15px;
    font: black;
    margin-left: 15px;
    margin-top: 15px;
    line-height: 15px;
}

.titre_img_pop{
    font-weight: 700;
    font-size: 15px;
    font: black;
    margin-left: 15px;
    line-height: 20px;
    margin-top: 20px;
}

.titre_img_act{
    font-weight: 700;
    font-size: 16px;
    font: black;
    margin-left: 15px;
    line-height: 20px;
    margin-top: 20px;
}

.prix_img{
    font-weight: 400;
    font-size: 13px;
    font: black;
    margin-top: 0px;
    margin-left: 15px;
    line-height: 15px;
}



/******************* header *******************/

#logo #nav{
    display: flex;
    align-items: baseline;
}

header #logo{
    float:left;
    width: 60px;
    height: 20px;
    padding-top: 24px;
    margin-left: 50px;
}

nav a{
    text-decoration: none;
    color: black;
    float : right;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    padding-top: 30px;
    margin-right: 50px;
}

nav li a:hover{
    color: #0065FC;
    font-weight: 500;
    border-top: 2px solid #0065FC;
    margin-left: 70px;
    margin-right: 50px;
}



/******************* barre de recherche *******************/

#search{
   margin-top: 140px;
}

#searchbar{
    display: flex;
    float: left;
    margin-top: 20px;
}

#location_dot{
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search input{
    border: 1.5px solid #F2F2F2;
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-family: raleway;
    font-weight: 700;
    padding-left: 20px;
}

#searchbar button{
    border: none;
    width: 130px;
    height: 50px;
    font-size: 18px;
    font-family: raleway;
    font-weight: 700;
    color: #fff;
    background: #0065FC;
    border-radius: 0px 15px 15px 0px;
}

#search_button:hover{
    cursor: pointer;
}



/******************* filtres *******************/

#filtres{
    margin-top: 150px;
    display: flex;
    align-items: baseline;
}


#filtres button{
    border: 2px solid #F2F2F2;
    height: 50px;
    max-height: 50px;
    font-weight: 700;
    font-size: 17px;
    color: black;
    background: #fff;
    border-radius: 25px;
    padding: 0px 1%;
    margin-left: 1%;
    margin-top: 20px;
}

#filtres i{
    color: #0065FC;
    padding-right: 20px;
}

#filtres button:hover{
    background: #DEEBFF;
    cursor: pointer;
}

.width150{
    min-width: 150px;
}
.width200{
    min-width: 200px;
}
.width300{
    min-width: 250px;
}



/******************* info *******************/

#info{
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

#info p{
    margin-left: 10px;
}



/******************* Hébergements a Marseille *******************/

#HP{
    display: flex;
    justify-content: space-between;
}

#Hébergements{
    width: 70%;
    height: 730px;
    border-radius: 20px;
    background: #F2F2F2;
    padding: 40px;
    margin-top: 40px;
}

.flex{
    display: flex;
    justify-content: space-around;
}

#titre_hebergement{
    margin-left: 20px;
}

.card_heb{
    width: 100%;
    height: 100%;
    margin: 36px 10px 0px 10px;
    line-height: 1px;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
}

.img_heb{
    width: 100%;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.note{
    margin-left: 15px;
    margin-top: 30px;
}

#afficher_plus{
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}

.card_heb:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
}

.bleu{
    color: #0065FC;
}

.gris{
    color: #F2F2F2;
}

/******************* Les plus populaires *******************/

#Populaires{
    width: 30%;
    height: 730px;
    border-radius: 20px;
    background: #F2F2F2;
    padding: 40px;
    margin-top: 40px;
    margin-left: 80px;
}

#chart{
    float: right;
}

.card_pop{
    width: 100%;
    height: 160px;
    line-height: 1px;
    background: #fff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
    margin-top: 20px;
    display: flex;
    min-height: 155px;
    margin-top: 35px;
}

.img_pop{
    width: 40%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;;
    object-fit: cover;
    min-height: 155px;
}

.text_card_pop{
    padding-right: 20px;
    margin-top: -10px;
}

.card_pop:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
}



/******************* Activités à Marseille *******************/

#Activités{
    margin-top: 100px;
}

#panel_activités{
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.card_act{
    width: 22%;
    height: 550px;
    border-radius:20px;
    line-height: 1px;
    background: #fff;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
}

.img_act{
    width: 100%;
    height: 490px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.card_act:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
}



/******************* footer *******************/

footer{
    width: 100%;
    height: 250px;
    background: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
}

.text_footer{
    line-height: 40px;
}