/******************* paramètres généraux de la page *******************/

@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

html {
    scroll-behavior: smooth;
}

body {
    font-family: Raleway;
    padding: 5px 50px 0px 50px;
}

li {
    list-style-type: none;
}

.titre {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 22px;
    margin: 8px 0px;
}

.sous_titre {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    margin: 8px 0px;
}

.petit_titre {
    font-family: raleway;
    font-weight: 700;
    size: 18px;
}

.titre_img {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    font: black;
    margin-left: 15px;
}

.prix_img {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    font: black;
    margin-top: 0px;
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: black;
}


/******************* header *******************/

#logo #nav {
    display: flex;
    align-items: baseline;
}

header #logo {
    float:left;
    width: 60px;
    height: 20px;
    padding-top: 24px;
}

nav a {
    text-decoration: none;
    color: black;
    float : right;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    padding-top: 30px;
}

nav li a:hover {
    color: #0065FC;
    font-weight: 500;
    border-top: 2px solid #0065FC;
    margin: -2px;
    margin-left: 70px;
}



/******************* barre de recherche *******************/

#search {
   margin-top: 140px;
}

#searchbar {
    display: flex;
    float: left;
    margin-top: 20px;
}

#location_dot {
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search input {
    border: 1.5px solid #F2F2F2;
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-family: raleway;
    font-weight: 700;
    padding-left: 20px;
}

#searchbar button {
    border: none;
    width: 130px;
    height: 50px;
    font-size: 18px;
    font-family: raleway;
    font-weight: 700;
    color: #fff;
    background: #0065FC;
    border-radius: 0px 15px 15px 0px;
}

#search_button:hover {
    cursor: pointer;
}



/******************* filtres *******************/

#filtres {
    margin-top: 150px;
    display: flex;
    align-items: baseline;
    }


#filtres button {
    border: 2px solid #F2F2F2;
    height: 50px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 17px;
    color: black;
    background: #fff;
    border-radius: 25px;
    padding: 0px 1%;
    margin-left: 50px;
    margin-top: 20px;
}

#filtres i {
    color: #0065FC;
    padding-right: 20px;
}

#filtres button:hover {
    background: #DEEBFF;
    cursor: pointer;
}

#eco #romantic{
    width: 200px;
}
#family{
    width: 150px;
}
#pet{
    width: 250px;
}

/******************* info *******************/

#info {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

#info h3 {
    margin-left: 10px;
}

/******************* Hébergements a Marseille *******************/
#HP {
    display: flex;
    justify-content: space-between;
}

#Hébergements {
    width: 80%;
    height: 730px;
    border-radius: 20px;
    background: #F2F2F2;
    padding: 40px;
    margin-top: 40px;
}

#panel_hebergement{
    display: flex;
    flex-wrap: wrap;
}

.carte_hebergement {
    width: 320px;
    height: 270px;
    margin:30px 25px 0px 25px;
    line-height: 1px;
    background: #fff;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
}

.img_panel_hebergement{
    width: 100%;
    height:120px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.note {
    margin-left: 15px;
}

#afficher_plus {
    display: flex;
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}

#titre_hebergement {
    margin-left: 20px;
}

.carte_hebergement:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
}

.etoile_bleue {
    color: #0065FC;
}

.etoile_grise {
    color: #F2F2F2;
}

/******************* Les plus populaires *******************/

#Populaires {
    width: 28%;
    height: 730px;
    border-radius: 20px;
    background: #F2F2F2;
    padding: 40px;
    margin-top: 40px;
    margin-left: 80px;
}

#chart {
    float: right;
}
